

  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Libre+Bodoni&family=Open+Sans:ital@1&family=Pangolin&family=Playfair+Display&family=Poppins&display=swap');

* {
  text-shadow: .5px .5px 1px black;
  font-family: 'Amatic SC', cursive;
font-family: 'Libre Bodoni', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Pangolin', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;

  
}
:root {
  --primary: #b172e4;
  --secondary:#383636;
  --third: #e0e0e0;
  --complementary:  #f0f0f0;

}
body {
  background-image: linear-gradient(to bottom, var(--third), var(--complementary)) !important;

}
header{
  position: relative;
}

#nav {
  background-color: var(--secondary) !important;
  box-shadow: 2px 2px 5px;
  
}
nav li a {
  color: var(--third) !important;
  font-size: 1.3rem !important;

}
nav li #home:hover::before {
  
  position: absolute;
  transition: all .5s !important;
  font-size: 10px;
  width: 150px;
content: 'Click my name to go to Home!';
right: 12em;
bottom: 25%;
/* top: 25%; */
}

nav li a:hover {
  font-size: 1.5rem !important;
  transition: all .3s;
  text-shadow: 1px 1px 2px var(--primary);


}
#home {
  position: relative;
}


.navbar-brand  {
  position: relative;
  width: auto;
  color: #b6ebf4 !important; 
  font-size: 1.8rem !important;
  margin: 0;
  padding: 0;
}
#full-stack {

  width: 100%;
  position: absolute;
  top: 70%;
  color: var(--primary);
  align-items: center;
  font-size: .8rem;
  padding: 0 !important;
  margin: 0 !important;
  
}
.navbar-toggler {
  color: var(--primary) !important; 
  border: 1px solid var(--primary) !important;
  background-color: var(--primary) !important; 

}


footer .mt-3 {
  background-color: var(--secondary) !important;
}
footer .card-header {
  color: var(--primary);
  font-size: 1.6rem;
}
footer .card-body {
  color: var(--third);
}
.socials {
  text-align: center;
  
}
.socials a {
  text-decoration: none;
  font-size: 3rem;
  
}
.devicon-github-original{
  color: var(--third);

}
#logo-png{
  
}
#headshot {
  width: 45%;
  border: 1px solid var(--primary);
  margin-left: 1%;
  border-radius: 20px;
  margin-right: 1%;
  position: relative; 
  filter: brightness(.85);
  box-shadow:  0 0 10px;
}

/* Add a dark filter using ::before pseudo-element */

#home-intro{
  margin-left: 1%;
  border: 1px solid black;
  width: 51%;
  box-shadow:0 0 10px;
  border-radius: 20px;
}
#home-intro p{
  line-height: 1.5;
  font-size: 1.2rem;
  color: var(--secondary);
}
#j{
  font-size: 1.5em;
  color: var(--primary);
}
#uan{
  color: var(--primary);
}
.skill-icon {
  font-size: 6rem;

 
}
.dev-icon-div{
  
  width: 12rem;
  margin-left: 2%;
  margin-right: 2%;
}
.skill-icon p {
  
  font-size: 2rem;
  justify-content: center;
  color: var(--secondary);
  margin-top: 1%;}
.skills-project-title {
  font-size: 3rem;
}
.skills-project-title-p {
  font-size: 1.3rem;
}
.fronted h3,.home-projects h3, .backend h3 {
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px var(--primary);
}
#project-component{
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  
}
#project-component img {
  width: 45%;
  
  border-radius: 20px;
  border: 2px solid var(--primary);
  margin-right: 2%;
  margin-left: 1%;
}

#project-component img:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
  transition: all .3s;
  transform: translateY(-5px);
  border: none;
}
#project-info {

}
.project-info-bg{
  background: linear-gradient(135deg,  #b6ebf4, #d8a5e6);


  margin-left: 2%;
  width: 48%;
  height: 100%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 2%;
  box-shadow: 0 0 10px black;
}
.project-info-bg-reverse{
  background: linear-gradient(135deg,  #d8a5e6, #b6ebf4);


  margin-left: 2%;
  width: 48%;
  height: 100%;
  border: 1px solid black;
  border-radius: 20px;
  padding: 2%;
  box-shadow: 0 0 10px black;
}
#project-info a {
  text-decoration: none;
  font-size: 2rem;
  
}
#project-info button:hover {
transform: scale(1.1);
transition: all .4s;
  
}
#project-info p {
  font-size: 1.3rem;
}
#project-info h4 {
  text-decoration: none;
  font-size: 2rem;
  text-shadow: 1px 1px 2px var(--primary);
}
.project-icon{
  margin-right: 2%;
  font-size: 3rem;
}

#project-info button {
  font-size: 1rem;
  background-color: var(--primary);
  color: var(--third);
  border: 1px solid var(--secondary);
  border-radius: 10px;
  padding: 1%;

}
#portfolio h4 {
  font-size: 3rem;
  text-shadow: 1px 1px 5px var(--primary);
  margin: 1%;
}
#about img{
  margin: 0 auto;
  width: 30%;
  filter: brightness(.85);
  border-radius: 50%;
  box-shadow:  3px 3px 10px black;
}
#about p{
  margin-left: 1%;
  padding: 0 8% 0 8%;
  
line-height: 1.7;
font-size: 2.2rem;
}
#about h2{
  color: var(--primary); 
  font-size: 3rem;
}
.active {
  color: var(--primary) !important;
  font-size: 1.7rem !important;
  transform: translateY(-10px);
}
#scroll-Btn{
  padding: 1%;
  background: linear-gradient(135deg, #b07ed9, #75d3e8);
  margin-right: 1%;
}
#scroll-Btn:hover{
  transform: scale(1.1);
  transition: all .4s;
}


@media screen and (max-width: 991px) {
  nav ul {
    margin-top: 5%;
  }
  nav li #home:hover::before {
    right: .1rem;
    font-size: .5rem;
  }
  #headshot {
    width: 90%;
    margin: 0 auto;
    margin-left: 5%;
  box-shadow:none;

  }
  #home-intro{
    
    border: 1px solid black;
    margin: 3% auto;

    width: 90%;
  }
  #home-intro p{
    
    font-size: 1.1rem;
  }
  .dev-icon-div{
    width: 8rem;
  }
  .skill-icon {
    font-size: 3rem;
    margin-left: 5%;
    margin-right: 5%;
  }
  #project-component img {
    width: 90%;
    margin: 0 auto;

  }
  #project-info {
    width: 90%;
    margin: 4% auto;
    box-shadow: 0 0 10px;
  }  
  #about img {
    width: 50%;
  }
  #about p {
    font-size: 2rem;
  padding: 0 2% 0 2%;
    
  }
  #about h2{
  margin-left: 2%;

  }


  
  }
  @media screen and (max-width: 640px) {
    #project-info p {
      padding: 2%;
      font-size: 1.1rem;
    }
    #about p {
      font-size: 1.1rem
    
      
      }
      #portfolio h3{
        font-size: 1rem;
      }
    }
    @media screen and (max-width: 320px) {
      nav li #home:hover::before{
        display: none;
      }
      .navbar-toggler{

        margin: 0 auto;
        margin-top: 10%;
      }
      .navbar-brand {
        margin: 0 auto;
      }
      nav ul {
        width: 60%;
        margin: 2% auto;
      }
    }

    @media (min-width: 1440px) {
      html {
        zoom: 1.2;
      }
    }
    
    @media (min-width: 2560px) {
      html {
        zoom: 1.7;
      }
    }
    
    @media (min-width: 3860px) {
      html {
        zoom: 2.5;
      }
    }
  